body {
    background: #8a8a8d ;
  }
  
input {
    width: 99%;
    height: 20%;
    color:  #ffffff;
    background-color: #346094;
    font-size:36px;
    text-align: center;
}

mark {
    background-color: black;
    color: white;
  }

label{
    color: white;
    font-size:24px;
}

.centerH {
    margin: auto;
    width : 80%;
    height: 70%;
    /* border: 3px solid white; i was using this to check if my form boxes where in size or not*/
  }
  
.centerV {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }